body {font-family: Tahoma, Verdana, Arial, Helvetica; background: url(../images/body_bg.png) repeat scroll 0 0 transparent; color: #666666;}

a,
a:focus {font-size: 12px; color: #4bb6c4; cursor: pointer;}
a:hover {color: #df667e;}

.toysi-blue-bg a,
.toysi-blue-bg a:focus {color: #ffffff;}

.toysi-title-link,
.toysi-title-link:focus {font-size: 14px; margin-top: 20px; text-decoration: underline;}

.toysi-dashed {text-decoration: none; border-bottom: 1px dashed;}
.toysi-dashed:hover {text-decoration: none;}

.toysi-page {border-bottom: 1px solid #ffffff;}

.toysi-margin-logo-center {margin: 31px 0 26px 0; display: inline-block; outline: none;}

.toysi-blue-bg {background-color: #5ec9d7; color: #ffffff;}
.toysi-white-bg {background: url(../images/white_bg.jpg) repeat scroll 0 0 #ffffff; position: relative;}
.toysi-bottom-box-shadow {box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20); z-index: 100; position: relative;}

.toysi-title-page {font-size: 24px; color: #ffffff;}
.toysi-title-page-height {height: 55px;}
.toysi-title-page-height .toysi-title-page {line-height: 52px; margin-top: 0; margin-bottom: 0;}

.toysi-form-control {border-radius: 0; border-color: #c9c9c9; color: #8b8b8b;}

.toysi-left-nav {width: 245px;}

.toysi-logo {height: 131px; line-height: 131px; text-align: center; width: 100%; display: inline-block;}
.toysi-logo-text {background-color: #5ec9d7; color: #ffffff; padding: 7px 0 11px 24px;}

.toysi-search-control {width: 191px; margin: 10px auto 0 auto;}
.toysi-search-control .form-control {height: 30px; border-right: 0; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) inset;}
.toysi-search-control .form-control:focus {box-shadow: none; border-color: #cccccc;}
.toysi-search-control .btn {padding: 4px 12px; background-image: none; border-left: 0; margin-top: -2px; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;  border-color: #cccccc; color: #63666b;}
.toysi-search-control .btn:focus,
.toysi-search-control .btn:hover {background-color: #ffffff; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset; border-left: 0;}

.toysi-nav-container {border-top: 5px solid #5ec9d7;}

.toysi-nav-container ul {list-style: none; padding: 0;}
.toysi-nav-container ul li ul {display: none;}
.toysi-nav-container ul li.toysi-open ul {display: block;}
.toysi-group {position: relative; z-index: 0;}
.toysi-group:before {content: ""; display: block; position: absolute; width: 0; height: 0; border-top: 6px solid transparent; border-left: 8px solid #5ec9d7; border-bottom: 6px solid transparent; top: 6px; left: 8px;}
.toysi-open.toysi-group:before {width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 8px solid #5ec9d7; border-bottom: 0; top: 8px;}

.toysi-nav-container ul li a {line-height: 24px; color: #666666; text-decoration: none; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block; padding-right: 10px; padding-left: 24px;}
.toysi-nav-container ul li ul li a {padding-left: 44px;}
.toysi-nav-container ul li a:hover {background-color: #edeed3;}

.toysi-nav-container ul li.toysi-open > a {background-color: #edeed3; font-weight: bold; color: #be2746;}
.toysi-nav-container ul li.toysi-open ul li.active a {font-weight: bold; color: #be2746; background-color: #d4da23;}

.toysi-content-relative {width: 745px; height: 100%;}
.toysi-bg-content {background-color: #e8e8e8; width: 745px; position: absolute; height: 100%;}
.toysi-content {width: 745px; box-shadow: 3px 0 5px rgba(0, 0, 0, 0.20), -3px 0 5px rgba(0, 0, 0, 0.20); position: relative; z-index: 11;}


.toysi-product-list-container {margin: 0 1px 0 0; clear: both;}
.toysi-product-list-container ul {list-style: none; padding: 0; margin: 9px 0 0 12px;}
.toysi-product-list-container ul li {display: block; float: left; width: 175px; min-height: 275px; height: 275px; max-height: 405px; margin: 0 8px 10px 0; position: relative; overflow: hidden;}
.toysi-product-list-container ul li > div {background-color: #ffffff; width: 100%; min-height: 291px; padding: 10px;}
.toysi-product-list-container ul li:hover {overflow: visible;}
.toysi-product-list-container ul li:hover > div {border: 8px solid #d4da23; width: 191px; min-height: 291px; max-height: 421px; margin: -8px 0 0 -8px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.20); position: relative; z-index: 110;}

.toysi-product-list-container ul li > div .toysi-hide {display: none;}
.toysi-product-list-container ul li:hover > div .toysi-hide {display: block;}

.toysi-product-list-container__title {font-size: 12px; color: #72bf46; line-height: 12px; text-align: center; display: inline-block; height: 38px; overflow: hidden;}
.toysi-product-list-container__to-store {font-size: 11px; color: #909090; margin: 0;}
.toysi-product-list-container__price {font-size: 24px; color: #be2746;}
.toysi-product-list-container__price small {font-size: 12px;}
.toysi-product-list-container__in-cart {background-color: transparent; border: 0; font-size: 11px; color: #444545; position: relative; padding: 0 0 0 30px;}
.toysi-product-list-container__in-cart:before {content: ""; display: block; width: 25px; height: 22px; background: url(../images/sprite.png) no-repeat 0 -40px; position: absolute; left: 0; top: -4px;}
.toysi-product-list-container__in-cart:hover {text-decoration: underline;}

.toysi-product-list-container__counter-container {position: relative; margin-top: 15px;}
.toysi-product-list-container__counter {background-color: #efefef; width: 53px; text-align: center; height: 59px; position: absolute; right: 0; top: -55px; margin: 0; padding: 7px 0 0 0; border-radius: 4px 4px 0 0;}
.toysi-product-list-container__control {width: 0; height: 0; background-color: transparent; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 0; border-bottom: 0; padding: 0; margin: 0 auto; display: block;}
.toysi-product-list-container__control-up {border-bottom: 12px solid #d4da23; margin-bottom: -2px;}
.toysi-product-list-container__control-up:hover {border-bottom-color: #bc2040;}
.toysi-product-list-container__control-down {border-top: 12px solid #d4da23; margin-top: 3px;}
.toysi-product-list-container__control-down:hover {border-top-color: #bc2040;}

.toysi-action-product {width: 25px; height: 25px; position: absolute; top: 0; left: 0; background: url(../images/sprite.png) no-repeat -25px -40px; z-index: 109;}

.toysi-product-list-container__comment-title {font-size: 11px; color: #74c048; margin-top: 10px;}
.toysi-product-list-container__text {width: 155px; height: 46px; resize: none; color: #8b8b8b; font-size: 11px; padding: 5px;}

.toysi-product-list-container__input-count {width: 42px; height: 15px; font-size: 10px; color: #444545;}

.toysi-product-list-container__buttons-count {background-color: #efefef; border-radius: 4px 0 4px 4px; padding: 8px 8px 8px 0;}
.toysi-product-list-container__buttons-count button {border-radius: 4px 4px 4px 4px; background-color: #d4da23; color: #000000; border: 0; width: 37px; height: 23px; line-height: 23px; font-size: 12px; padding: 0; margin-left: 9px;}
.toysi-product-list-container__buttons-count button:hover {background-color: #bc2040; color: #ffffff;}

.toysi-product-list-container__user-no-joined {text-align: center; padding-top: 30px;}
.toysi-product-list-container__user-no-joined p {font-size: 12px; line-height: 24px;}
.toysi-product-list-container__user-no-joined .toysi-btn {display: none;}
.toysi-product-list-container__user-no-joined:hover .toysi-btn {display: inline-block;}
.toysi-product-list-container__user-no-joined:hover p {display: none;}

.toysi-btn {font-size: 24px; border-radius: 0; padding: 4px 20px 5px;}
.toysi-btn-red {background-color: #bc2040; color: #ffffff;}
.toysi-btn-red:hover,
.toysi-btn-red:focus,
.toysi-btn-red:active {background-color: #d52e50; color: #ffffff;}

.toysi-btn-small {font-size: 12px; padding: 3px 15px 4px;}

.toysi-pull-left {margin-left: 30px;}
.toysi-password-reset-container .row,
.form-horizontal .toysi-form-group {margin-left: 0;}
.toysi-blue-bg .toysi-form-control {border: 0;}

.toysi-checkbox-control label {font-weight: normal; color: #666666; font-size: 12px;}
.toysi-checkbox-control input {display: none;}
.toysi-checkbox-control input + label {position: relative; padding-left: 36px;}
.toysi-checkbox-control input + label:before {content: ""; background: url("../images/sprite.png") no-repeat scroll 0 -20px transparent; display: block; width: 20px; height: 20px; cursor: pointer; position: absolute; top: 0; left: 3px;}
.toysi-checkbox-control input:checked + label:before {background-position: 0 0;}

.toysi-necessarily {position: relative;}
.toysi-necessarily .toysi-point {position: absolute; top: 0; right: 5px;}
.toysi-point {display: inline-block; width: 7px; height: 7px; background-color: #5ec9d7; border-radius: 50% 50% 50% 50%;}
.has-error .form-control {border-color: #bc2040; color: #bc2040; background-color: rgba(188, 32, 64, 0.11);}
.has-error .toysi-point {background-color: #bc2040;}

.container {width: 1020px;}

.toysi-height-5px {height: 5px;}

.toysi-top-line {border-top: 1px solid #c9c9c9;}

.toysi-nav-head {background-color: #44a7b4; height: 41px; position: relative; z-index: 100;}
.toysi-nav-head .toysi-nav {list-style: none; margin-top: 7px; margin-bottom: 6px; padding: 0;}
.toysi-nav-head .toysi-nav li {float: left; margin-left: 4px;}
.toysi-nav-head .toysi-nav li:first-child {margin-left: 0;}
.toysi-nav-head .toysi-nav li a {color: #ffffff; display: inline-block; padding: 0 6px; cursor: pointer; height: 26px; line-height: 26px; text-decoration: none;}
.toysi-nav-head .toysi-nav li.active a,
.toysi-nav-head .toysi-nav li a:hover {background-color: #ffffff; color: #44a7b4;}

.toysi-head-phones {position: relative; margin-top: 6px; margin-left: 10px;}
.toysi-head-phones ul {list-style: none; position: absolute; width: 138px; padding: 0 0 0 8px; color: #ffffff; cursor: pointer; height: 26px; overflow: hidden; z-index: 1000;}
.toysi-head-phones ul:before {content: ""; width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 8px solid #d4da23; position: absolute; top: 9px; right: 6px;}
.toysi-head-phones ul li {line-height: 26px; font-size: 12px; padding: 0; word-spacing: -1px;}
.toysi-head-phones ul.open,
.toysi-head-phones ul:hover {background-color: #ffffff; height: 78px; color: #454545;}
.toysi-head-phones ul:hover:before {border-bottom: 8px solid #5ec9d7; border-top: 0;}

.toysi-user-container {margin-top: 8px;}

.toysi-user-joined {font-size: 12px; color: #be2746;}
.toysi-user-joined a {color: #ffffff;}
.toysi-personal-account {position: relative; padding-left: 30px; text-decoration: underline;}
.toysi-personal-account:before {content: ""; display: inline-block; width: 22px; height: 18px; background: url(../images/sprite.png) no-repeat -40px 0; position: absolute; top: 0; left: 0;}
.toysi-personal-account:hover:before {background-position: -40px -18px;}

.toysi-user-joined .toysi-cart {position: relative; padding-left: 30px; text-decoration: underline; color: #be2746;}
.toysi-cart:before {content: ""; display: inline-block; width: 20px; height: 18px; background: url(../images/sprite.png) no-repeat -20px 0; position: absolute; top: 0; left: 0;}
.toysi-cart:hover:before {background-position: -20px -18px;}

.toysi-exit-account {margin-left: 15px; margin-right: 15px;}

.toysi-quantity {margin-right: 5px;}

.toysi-user-login a,
.toysi-user-login a:focus {color: #ffffff; text-decoration: underline; margin-left: 12px;}
.toysi-user-login a:hover {text-decoration: none;}

.toysi-footer {height: 76px; font-size: 12px; line-height: 74px; position: relative; z-index: 100;}

.toysi-footer .toysi-nav {list-style: none; margin-left: 32px;}
.toysi-footer .toysi-nav li {float: left; margin-left: 16px;}
.toysi-footer .toysi-nav li a {color: #ffffff; display: inline-block; padding: 0 9px; cursor: pointer; height: 26px; line-height: 26px; text-decoration: none;}
.toysi-footer .toysi-nav li.active a,
.toysi-footer .toysi-nav li a:hover {background-color: #ffffff; color: #5ec9d7;}
.toysi-footer .toysi-footer-contact {line-height: 14px; margin-top: 16px; margin-left: 54px;}

.toysi-text-danger {color: #bc2040;}