.toysi-slider-container {position: relative; width: 745px; height: 200px; overflow: hidden;}

.toysi-slider-container .toysi-bottom-box-shadow {border-right: 10px solid #c9c9c9; width: 745px; overflow: hidden;}

.toysi-slider-content {list-style: none; padding: 0; overflow: hidden; width: 9999px; height: 187px; margin: 0; white-space: nowrap; z-index: 10; position: relative;}
.toysi-slider-content li {float: left; position: relative;}

.toysi-slider-pages {list-style: none; padding: 0; margin: 0 auto; width: 735px; height: 13px; text-align: center; z-index: 9; position: relative;}
.toysi-slider-pages li {display: inline-block; width: 46px; height: 7px; background-color: #a6a6a6; padding: 0; margin: 0 2px 9px 2px;}
.toysi-slider-pages li.active {height: 13px; background-color: #d4da23; margin-bottom: 3px;}

.toysi-slider-nav {position: absolute; width: 0; height: 0; border-top: 12px solid transparent; border-bottom: 12px solid transparent; top: 150px; z-index: 1000;}
.toysi-slider-nav-prev {border-right: 12px solid #bc2040; left: 14px;}
.toysi-slider-nav-next {border-left: 12px solid #bc2040; right: 24px;}

.toysi-shop-info {margin: 0 56px 0 56px; width: 634px; border: 0;}
.toysi-shop-info > thead > tr > th,
.toysi-shop-info > tbody > tr > th,
.toysi-shop-info > tfoot > tr > th,
.toysi-shop-info > thead > tr > td,
.toysi-shop-info > tbody > tr > td,
.toysi-shop-info > tfoot > tr > td {font-size: 12px; vertical-align: top; width: 50%; border-color: #f4f4f4;}

.toysi-shop-info > thead > tr:first-child > th,
.toysi-shop-info > tbody > tr:first-child > th,
.toysi-shop-info > tfoot > tr:first-child > th,
.toysi-shop-info > thead > tr:first-child > td,
.toysi-shop-info > tbody > tr:first-child > td,
.toysi-shop-info > tfoot > tr:first-child > td {border-top: 0;}

.toysi-shop-info > thead > tr > th:first-child,
.toysi-shop-info > tbody > tr > th:first-child,
.toysi-shop-info > tfoot > tr > th:first-child,
.toysi-shop-info > thead > tr > td:first-child,
.toysi-shop-info > tbody > tr > td:first-child,
.toysi-shop-info > tfoot > tr > td:first-child {border-right: 1px solid #f4f4f4;}

.toysi-shop-info .lead {color: #444545;}

.toysi-action-carousel-container {background-color: #b0dce1; padding-top: 10px;}

.toysi-map-container {overflow: hidden; padding-bottom: 32px;}
.toysi-map-container,
.toysi-map-container h1 {background-color: #ffffff; margin-top: 0;}
.toysi-map-container h1 {font-size: 24px; font-weight: normal; color: #444545; padding-top: 38px; padding-left: 56px; margin-bottom: 24px;}
.toysi-margin-left-56 {margin-left: 56px;}
.toysi-map-container h2 {font-size: 18px; font-weight: normal;}

.toysi-num-contact {font-size: 54px; color: #d4da23;}
.toysi-text-contact {width: 315px; font-size: 12px; padding-left: 20px; padding-top: 22px;}
.toysi-phones-contact {font-size: 12px; margin-left: 10px;}
.toysi-phone-image {margin-top: 12px;}