.toysi-cart-text-info {margin-top: 30px}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {background-color: #eeecec;}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {border: 0; vertical-align: middle; border-left: 1px solid #c9c9c9;}

.table > thead > tr > th:first-child,
.table > tbody > tr > th:first-child,
.table > tfoot > tr > th:first-child,
.table > thead > tr > td:first-child,
.table > tbody > tr > td:first-child,
.table > tfoot > tr > td:first-child {border: 0;}

.toysi-count-product {height: 24px; margin-top: -12px;}
.toysi-count-product .toysi-count-input {width: 62px; height: 15px; font-size: 10px;}
.toysi-count-product .toysi-count-control {display: inline-block; position: relative; width: 12px; height: 24px; cursor: pointer;}
.toysi-count-product .toysi-count-control:before {content: ""; position: absolute; top: 8px; left: 0; width: 0; height: 0; border-top: 12px solid transparent; border-bottom: 12px solid transparent;}
.toysi-count-product .toysi-count-control.toysi-count-left:before {border-right: 12px solid #d4da23;}
.toysi-count-product .toysi-count-control.toysi-count-right:before {border-left: 12px solid #d4da23;}

.toysi-remove-product,
.toysi-remove-product:hover,
.toysi-remove-product:focus {text-decoration: none; color: #bc2040; cursor: pointer;}

.toysi-top-line table {height: 32px;}
.toysi-cart-buttton-container {margin-top: 27px; margin-bottom: 38px;}
.toysi-cart-buttton-container .btn {margin-left: 11px; margin-right: 11px;}